<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService1" class="cn.h1chen.springframework.bean.UserService1"/>

    <bean class="cn.h1chen.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.h1chen.springframework.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="cn.h1chen.springframework.aop.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cn.h1chen.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.h1chen.springframework.bean.UserService1.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>