<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.h1chen.springframework.bean.UserDao"/>

    <bean id="userService" class="cn.h1chen.springframework.bean.UserService">
        <property name="userId" value="10001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>